@import "../../styles/global";

$transition-time: .15s;

.arrowRight {
  cursor: pointer;
  height: 120px;
  transition: transform .1s;
  //transform: scale(0.2);
  width: 80px;

  &:active {
    transform: scale(0.9);
  }
}

.arrowLeft {
  cursor: pointer;
  height: 120px;
  transition: transform .1s;
  transform: scaleX(-1);
  width: 80px;

  &:active {
    transform: scaleX(-1) scale(0.9);
  }
}

.arrowTop,
.arrowBottom {
  background-color: rgba($ice-cold, 0.8);
  height: 7px;
  left: -5px;
  position: absolute;
  top: 50%;
  width: 100%;

  &:after {
    background-color: $freeze-purple;
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    transition: all $transition-time;
  }
}

.arrowTop {
  transform: rotate(45deg);
  transform-origin: bottom right;

  &:after {
    left: 100%;
    right: 0;
    transition-delay: 0s;
  }
}

.arrowBottom {
  transform: rotate(-45deg);
  transform-origin: top right;

  &:after {
    left: 0;
    right: 100%;
    transition-delay: $transition-time;
  }
}

.arrow {
  padding: 10px;

  &:hover {
    .arrowTop:after {
      left: 0;
      transition-delay: $transition-time;
    }

    .arrowBottom:after {
      right: 0;
      transition-delay: 0s;
    }
  }
}


/* Arrow DOWN */
.arrowDown {
  border: 2px solid $freeze-purple;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: relative;
  transform: rotate(90deg);
  cursor: pointer;

  .cta {
    width: 100%;
    cursor: pointer;
    position: absolute;
  }
}

.cta .arrowD {
  left: 30%;
  position: absolute;
  bottom: 0;
  margin-left: 0px;
  width: 12px;
  height: 12px;
  background-size: contain;
  top: 15px;
  color: $freeze-purple;
  margin-top: -1px;

  &.segunda {
    margin-left: 8px;
  }

  &.next {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
  }
}

@keyframes bounceAlpha {
  0% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
  25% {
    opacity: 0;
    transform: translateX(10px) scale(0.9);
  }
  26% {
    opacity: 0;
    transform: translateX(-10px) scale(0.9);
  }
  55% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.arrowD.primera.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.arrowDown:hover .arrowD {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.arrowDown:hover .arrowD.primera {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}