/**
  GLOBAL VARIABLES
 */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;1,300&display=swap');

//layout
$containerWidth: 1000px;

//font weights :
$weight-light: 300;
$weight-regular: normal;
$weight-bold: 500;
$weight-bolder: 600;

//text size
$size-smaller: 12px;
$size-small: 15px;
$size-normal: 18px;
$size-big: 20px;
$size-bigger: 24px;
$size-title: 70px;

//colors
$ice-cold: #a0d2eb;
$freeze-purple: #e5eaf5;
$medium-purple: #d0bdf4;
$purple-pain: #8458B3;
$russet-red: #7B3E19;

//media sizes
$media-tablet: "screen and (max-width : 1020px)";
$media-phone: "screen and (max-width : 600px)";

body {
  margin: 0;
}

html {
  font-family: 'Raleway', sans-serif;
  font-weight: $weight-light;
  font-size: $size-normal;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

h1 {
  font-weight: 700;
  font-size: $size-title;
  font-family: 'Cinzel', serif;
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: $size-bigger;
  //font-family: 'Cinzel', serif;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  margin: 0;
}

strong {
  font-weight: $weight-regular;
}