@import "../styles/global";

.homepageContainer {
  width: 100%;
  height: 100vh;
  background-position: bottom center;
  background-repeat: repeat-y;
  background-size: cover;
  background-image: linear-gradient($freeze-purple 0%, $russet-red 30%) !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  &:before {
    opacity: 0.8 !important;
    filter: blur(1px);
  }

  &:after {
    opacity: 0.8 !important;
    filter: blur(1px);
  }
}

.pageTitle {
  text-align: center;
  position: absolute;
  color: $freeze-purple;
  top: 200px;

  padding: 40px 100px;
  background-color: rgba($russet-red, 0.8);

  h2 {
    color: $ice-cold;
  }
}

.titleLink {
  margin-bottom: 50px;
}

@media #{$media-laptop} {

  .homepageContainer {
    height: 600px;
  }
}