@import "../styles/global";

.homepageContainer {
  width: 100%;
  height: 100vh;
  background-position: bottom center;
  background-repeat: repeat-y;
  background-size: cover;
  background-image: linear-gradient($freeze-purple 0%, $russet-red 30%) !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-attachment: fixed;

  &:before {
    opacity: 0.4 !important;
    filter: blur(1px);
  }

  &:after {
    opacity: 0.8 !important;
    filter: blur(1px);
  }
}

.pageTitle {
  text-align: center;
  position: absolute;
  color: $freeze-purple;
  top: 200px;

  padding: 40px 100px;
  background-color: rgba($russet-red, 0.8);

  h2 {
    color: $ice-cold;
  }
}

.titleLink {
  margin-bottom: 50px;
}

@media #{$media-laptop} {

  .homepageContainer {
    height: 600px;
  }
}

.sectionTitle {
  width: 100%;
  position: absolute;
  text-align: center;
  color: $russet-red;
  //background-color: rgba($ice-cold, 0.4);
  top: 125px;
  padding: 4px 0px;
  margin-bottom: 30px;
}
//
//.sectionTitle {
//  text-align: center;
//  color: $freeze-purple;
//  background-color: rgba($russet-red, 0.8);
//  padding: 10px 5px;
//  width: 450px;
//  position: absolute;
//  top: 140px;
//  margin-bottom: 30px;
//
//  h1 {
//    text-transform: uppercase;
//    font-family: 'Raleway', sans-serif;
//    font-weight: $weight-light;
//    //margin-top: 10px;
//    font-size: 25px;
//    letter-spacing: 3px;
//  }
//}

.pictures {
  display: flex;
  margin-bottom: 80px;
}

.nextSectionBtn {
  margin-bottom: 20px;
}