.carousel-root, .carousel {
    height: 100%;
}

.carousel .slider-wrapper {
    height: 100%;
}

.carousel .slider {
    height: 100%
}

.carousel .slide {
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel .carousel-status {
    font-size: 12px;
    text-shadow: none;
}

.carousel .thumb {
    border: 1px solid black;
    transition: all 0.2s ease-in-out;
    transform: translateY(0px);
}

.carousel .thumb:hover {
    border: 1px solid black;
    transform: translateY(-3px);
}

.carousel .thumb:focus {
    border: 1px solid #e5eaf5;
    outline: none;
}

.carousel .thumb.selected {
    border: 1px solid #e5eaf5;
}

.carousel .thumbs-wrapper .control-arrow {
    padding: 1px;
}