@import "../../styles/global";

/*
 *   Used the beautiful Creative Link Effects from Tympanus
 *   https://tympanus.net/codrops/2013/08/06/creative-link-effects/
 */

/* Effect 9: second text and borders */
.clEffect9 {
  .link {
    cursor: pointer;
    margin: 0 20px;
    padding: 18px 20px;
    color: $freeze-purple;
    font-family: 'Cinzel', serif;
    position: relative;

    &::before, &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: $freeze-purple;
      content: '';
      opacity: 0.7;
      -webkit-transition: opacity 0.3s, height 0.3s;
      -moz-transition: opacity 0.3s, height 0.3s;
      transition: opacity 0.3s, height 0.3s;
    }

    &::after {
      top: 100%;
      opacity: 0;
      -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
      -moz-transition: -moz-transform 0.3s, opacity 0.3s;
      transition: transform 0.3s, opacity 0.3s;
      -webkit-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
      transform: translateY(-10px);
    }

    span:first-child {
      font-size: 25px;
      z-index: 2;
      display: block;
      font-weight: 300;
    }

    span:last-child {
      z-index: 1;
      display: block;
      padding: 8px 0 0 0;
      color: $medium-purple;
      text-shadow: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 13px;
      font-family: 'Raleway', sans-serif;
      opacity: 0;
      -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
      -moz-transition: -moz-transform 0.3s, opacity 0.3s;
      transition: transform 0.3s, opacity 0.3s;
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      transform: translateY(-100%);
    }

    &:hover::before, &:focus::before {
      height: 6px;
    }

    &:hover::before, &:focus::before, &:hover::after, &:focus::after {
      opacity: 1;
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      transform: translateY(0px);
    }

    &:hover, &:focus {
      span:last-child {
        opacity: 1;
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        transform: translateY(0%);
      }
    }
  }
}



/* Effect 4: bottom border enlarge */
.clEffect4 .link {
  padding: 0 0 10px;
  position: relative;
  //font-family: 'Raleway', sans-serif;
font-family: 'Cinzel', serif;
}

.clEffect4 .link::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: $russet-red;
  content: '';
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  transform: translateY(-5px);
}

.clEffect4 .link:hover::after,
.clEffect4 .link:focus::after {
  height: 2px;
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}