@import "../styles/global";

.pageContainer {
  display: flex;
  flex-direction: column;
  //flex: 1 1 auto;
  //align-content: start;

  &.loading {
    height: 100vh;
    overflow: hidden;
  }
}

.loadingContainer {
  z-index: 4;
  background-color: $russet-red;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow:hidden;

  .spinner {
    color: $freeze-purple;
  }
}