@import "../styles/global";

.pageContainer {
  display: flex;
  flex-direction: column;
  //flex: 1 1 auto;
  //align-content: start;
}

.loading {
  z-index: 4;
  background-color: $russet-red;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .spinner {
    color: $freeze-purple;
  }
}